@import './styles/checkbox-radio.scss';
@import './styles/colors.scss';
@import './styles/form.scss';

// Mixins

@mixin centered {
    align-content: center;
    text-align: center;
    margin: auto;
}

// General

body {
    padding: 0;
    margin: 0;
}

.main-container {
    @include centered();
    color: $main-foreground;
    background-color: $main-background;
    width: 500px;
    //height: 500px;
}