@import './styles/checkbox-radio.scss';
@import './styles/colors.scss';
@import './styles/form.scss';

// Mixins

@mixin centered {
    margin: auto;
}

// General

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    @include centered();
    color: $main-foreground;
    background-color: $main-background;
    width: 500px;
    h1 {
        text-align: center;
    }
}

.generic-row {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //background-color: green;
}

.generic-col {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}